// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: #444;
  line-height: 1.5rem;
  font-size: 1rem;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 600;
  //text-transform: uppercase;
  color: $gray-800;
  //letter-spacing: -0.00391667em;
}

h1 {
  //@include body-font;
  font-weight: bold;
  //text-transform: uppercase;
  font-size: 4rem;
  line-height: 1;
  span {
    //@include body-font;
    //font-weight: bold;
    //font-size: 1.8rem;
    display: block;
    //text-transform: uppercase;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  margin-bottom: 1rem;
}

em {
  color: $red;
  font-weight: 600;
}

p.lead {
  font-size: 1.4rem;
  //font-weight: 600;
  color: $black;
  margin-bottom: 1.4rem;
  line-height: 1.5;
}

.subheading {
  text-transform: uppercase;
  font-weight: 600;
  @include body-font;
  font-size: 1.2rem;
  color: $secondary;
}

.intro {
  font-size: 1.125rem;
  max-width: 650px;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}
