section.recent-work-section {
  max-width: unset !important;
  padding-top: 0 !important;
}
.recent-work-wrap {
  max-width: 75rem;
}
.recent-work-images-wrap {
  width: 100%;
  background-color: $gray-100;
  padding: 3rem;
}
.recent-work-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-row-gap: 10px;
  grid-column-gap: 20px;

  .main-thumbnail {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .thumbnail {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
